version: 2.1

workflows:
  test:
    jobs:
      - test_0_1_5691
      - test_0_1_5652
      - test_0_1_5607
      - test_0_1_5581
      - test_0_1_5575

executors:
  default:
    shell: /usr/bin/env bash -euo pipefail -c
    docker:
      - image: circleci/buildpack-deps

commands:
  test:
    parameters:
      version:
        type: string
    steps:
      - checkout
      - run:
          name: diagnostics
          command: |
            set -x
            make --version || true
            git --version || true
            circleci version
            pwd || true
            tree || true
            ls -lah
            env | grep -vE '(SECRET|KEY|ACCESS|TOKEN|PASS|PWD)'
      - run: CCI_VERSION=<<parameters.version>> make get-circleci-cli
      - run: CCI_VERSION=<<parameters.version>> make test

jobs:
  test_0_1_5691:
    executor: default
    steps: [ test: {version: 0.1.5691} ] 
  test_0_1_5652:
    executor: default
    steps: [ test: {version: 0.1.5652} ] 
  test_0_1_5607:
    executor: default
    steps: [ test: {version: 0.1.5607} ] 
  test_0_1_5581:
    executor: default
    steps: [ test: {version: 0.1.5581} ] 
  test_0_1_5575:
    executor: default
    steps: [ test: {version: 0.1.5575} ] 
